// Button animation (will add after MVP)

// @keyframes pulse {
//     0% {
//         display: flex;
//         justify-content: center;
//         width: 38%;
//         color: @page-white;
//         background-color: @action-green;
//         font-size: 16px;
//         padding: 10px;
//         text-decoration: none;
//         border: 2px solid @active-dark-blue;
//         border-radius: 10px;
//         margin: 20px 0 10px 0;
//     }
//     100% {
//         display: flex;
//         justify-content: center;
//         width: 38%;
//         color: white;
//         background-color: black;
//         font-size: 16px;
//         padding: 10px;
//         text-decoration: none;
//         border: 2px solid black;
//         border-radius: 10px;
//         margin: 20px 0 10px 0;
//     }
// }

h3 {
    font-size: 2rem;
    text-align: center;
}

.intro {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 4% 4% 0 4%;
}

.introBox {
    width: 60%;
}

.team {
    margin: 5% 2%;
}

.member {
    display: flex;
}

.member img {
    height: 30vh;
    margin: 2%;
    border-radius: 15px;
    border: 1px solid #A1AFC0;
}

.member a {
    .featuresButton;
}

// .introTop1 a:hover {
//     animation: pulse 1s;
// }

.member-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.member-reverse img {
    height: 30vh;
    margin: 2%;
    border-radius: 15px;
    border: 1px solid #A1AFC0;
}

.member-reverse a {
    .featuresButton;
}

.teamCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}



// v----- Media Queries -----v
// @media @phone {

// }

// @media @tablet {

// }