// Button animation (will add after MVP)

// @keyframes pulse {
//     0% {
//         display: flex;
//         justify-content: center;
//         width: 38%;
//         color: @page-white;
//         background-color: @action-green;
//         font-size: 16px;
//         padding: 10px;
//         text-decoration: none;
//         border: 2px solid @active-dark-blue;
//         border-radius: 10px;
//         margin: 20px 0 10px 0;
//     }
//     100% {
//         display: flex;
//         justify-content: center;
//         width: 38%;
//         color: white;
//         background-color: black;
//         font-size: 16px;
//         padding: 10px;
//         text-decoration: none;
//         border: 2px solid black;
//         border-radius: 10px;
//         margin: 20px 0 10px 0;
//     }
// }

.intro {
    width: 90%;
    padding: 4% 4% 0 4%;
}

.featuresTop {
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

.featuresTop1 {
    padding: 2%;
    width: 49%;
}

.featuresTop1 img {
    padding-bottom: 10px;
}

.featuresTop1 a {
    .featuresButton;
}

// .featuresTop1 a:hover {
//     animation: pulse 1s;
// }

.featuresTop2 {
    padding: 2%;
    width: 49%;
}

.featuresTop2 img {
    padding-bottom: 10px;
}

.featuresTop2 a {
    .featuresButton;
}

.featuresTop2 a:hover {
    animation: pulse 1s;
}

.featuresBottom {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.featuresBottom1 {
    padding: 2%;
    width: 49%;
}

.featuresBottom1 img {
    padding-bottom: 10px;
}

.featuresBottom1 a {
    .featuresButton;
}

.featuresBottom1 a:hover {
    animation: pulse 1s;
}

.featuresBottom2 {
    padding: 2%;
    width: 49%;
}

.featuresBottom2 img {
    padding-bottom: 10px;
}

.featuresBottom2 a {
    .featuresButton;
}

.featuresBottom2 a:hover {
    animation: pulse 1s;
}

.end {
    margin: 4%;
    // padding: 20px 0 10px 0;
}


// v----- Media Queries -----v
// @media @phone {

// }

// @media @tablet {

// }